<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StrobeLight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8B8A6AAD1E68019500607BC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B8A6AC11E68019600607BC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B8A6ACC1E68019600607BC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
